@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    --primary-bg-color:#F9F0E7;
    --primary-text-color:#5F5F5F;
    --secondary-text-color:#BEB9B1;
    --heading-text-color:#3b3a3a;
    --border-radius-8:8px;
    --large-font:20px;
    --section-padding:5rem;
    --card-bg-color:#F4F5F7;
    --color-orange:#B98E2F;
    --color-purple:#826DFA;
    --color-light-pink:#F9F0E7;
    --link-color:#171717;
    --main-heading-size : 2.5rem;
    --main-secondary-text-size:1.5rem;
    font-family: 'Poppins';
}
body{
    margin: 0;
}
ul{
  list-style: none;  
  padding-left: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
.logo-image-container{
    height: 3rem;
    width: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid grey; */
    padding: 0.5rem 2rem;
    align-items: center;

    nav ul{
         gap:4rem;
    }
}
.header .navigation{
    font-weight: bold;
}
.icon-container{
    height: 24px;
    width: 24px;
    display: inline-block;
}
.nav-container{
    background-color: var(--primary-bg-color);
    padding: 1rem var(--section-padding);
}
.main-container{
    /* padding: 1rem 2rem; */

    & section:nth-child(even)
    {
        padding:1rem var(--section-padding);
    }
}
.page-name{
    color: var(--secondary-text-color);
}
figure{
    margin: 0;
}
span img{
    cursor: pointer;
}
.big-image-container{
    height: 50rem;
    width:  50rem;
    
    & img{
        object-fit: cover;
        border-radius: var(--border-radius-8);
    }
}
.small-image-container{
    height: 11rem;
    width:  11rem;

    & img{
        object-fit: cover;
        border-radius: var(--border-radius-8);
    }
}
.main-info{
    display: flex;
    padding: 0rem 2rem;
    flex-direction: column;
    gap:0.5rem;
    & > p{
        color: var(--secondary-text-color);
    }
    & > h4{
        width: 55ch;
        color: var(--primary-text-color);
    } 
}
.sizes-box{
    padding: 0.2rem;
    color: black;
    border-radius: 4px;
    height: 1.5rem;
    width:  1.5rem;

    &:first-child{
        color: white;
    }
}

.circle{
    border-radius: 50%;
}
.outline-box{
    outline: 1.5px solid black;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background: none;
    border-radius: var(--border-radius-8);

    &  img{
        height: 1.3rem;
        width:  1.3rem;
        cursor: pointer;
    }

    & > button{
        background: none;
        border: 0;
        cursor: pointer;
        font-size: medium;
        min-width: 8rem;
    }
}
.counter-button{
    outline: 1px solid gray;
    min-width: 5.8rem;
}
.item-name h3{
    margin: 6px 0;
    font-size: var(--main-heading-size);
}
.item-name p{
    margin: 6px 0px;
    font-size: var(--main-secondary-text-size);
}
.share-icon{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
.hr-line{
    width: 100%;
    color: #5F5F5F;
}
.description .heading{
    cursor: pointer;
    margin: 1.3rem 0rem;
    transition: color 0.1s linear;

    &:hover{
        color: var(--heading-text-color);
    }
}
.description .p-text{
    font-size: large;
}
.description .paragraph-container{
    padding: 0rem 2rem;
}
.card{
    position: relative;
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius-8);
    width: 20rem;

    & figure{
        height: 18.5rem;
        width: 100%;
        object-fit: contain;
        border-radius: var(--border-radius-8);
    }
    & figure img{
        border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
    }
}
.card .card-info{
    padding: 0.5rem;
    
    p{
        margin: 0.1rem;
    }
    h4{
        margin: 0.5rem 0rem;
    }
}
.outline-button{
    outline: 1.5px solid var(--color-orange);
    padding: 0.5rem;
    color: var(--color-orange);
    border: none;
    cursor: pointer;
    background: none;
    padding: 1rem 3.5rem;
}
.footer-container{
    padding: 0rem var(--section-padding);
}
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 2fr;

    & #address, & #links, & #help, & #newsletter{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-weight: bold;
    }
    & #address div > p ,& #address > h4{
        margin: 0.5rem 0rem;
        gap: 0 !important;
    }

    & #help
    {

    }

    & #newsletter{
        & input{
            border: none;
            height: 2.5rem;
            border-bottom: 2px solid black;

            &:focus{
                outline: none;
            }
        }

        & button{
            border: none;
            background: none;
            border-bottom: 2px solid black;
            cursor: pointer;
        }
    }
}

#discount{
    position: absolute;
    height: 1rem;
    display: flex;
    align-items: center;
    top: 15px;
    right: 15px;
    padding: 1rem 0.5rem;
    color: white;
}