.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.gap-1{
    gap:1rem
}
.space-around{
    justify-content: space-around;
}
.space-betwwen{
    justify-content: space-between;
}
.border{
    border: 1px solid grey;
}
.align-item-center{
    align-items: center;
}
.p1rem{
    padding: 1rem;
}
.flex-col{
    flex-direction: column;
}
.secondary-p{
    color: var(--secondary-text-color);
    margin: 8px 0;
}
.bg-orange{
    background-color: #B98E2F;
}
.bg-purple{
    background-color: #826DFA;
}
.bg-black{
    background-color: #000;
}
.bg-light-pink{
    background-color: #F9F0E7;
}
.gap-2{
    gap: 2rem;
}
.gap-02{
    gap:0.2rem;
}
.gap-05{
    gap:0.5rem;
}
.flex-wrap{
    flex-wrap: wrap;
}
.pointer{
    cursor: pointer;
}
.mt-1{
    margin-top: 1rem;
}